<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

### Fancy Planet HTML template.
### 
### When combined with the stylesheet and images in the output/ directory
### of the Planet source, this gives you a much prettier result than the
### default examples template and demonstrates how to use the config file
### to support things like faces
### 
### For documentation on the more boring template elements, see
### examples/config.ini and examples/index.html.tmpl in the Planet source.

<head>
<title><TMPL_VAR name></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="generator" content="<TMPL_VAR generator ESCAPE="HTML">">
<meta name="robots" content="noindex,nofollow"/>
<link rel="stylesheet" href="planet.css" type="text/css">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<TMPL_IF feedtype>
<link rel="alternate" href="<TMPL_VAR feed ESCAPE="HTML">" title="<TMPL_VAR channel_title_plain ESCAPE="HTML">" type="application/<TMPL_VAR feedtype>+xml">
</TMPL_IF>
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/planet.js"></script>
</head>

<body>
<h1><TMPL_VAR name></h1>
<TMPL_VAR admin>

<TMPL_LOOP Items>
<TMPL_IF new_date>
<TMPL_UNLESS __FIRST__>
### End <div class="channelgroup">
</div>
### End <div class="daygroup">
</div>
</TMPL_UNLESS>
<div class="daygroup">
<h2><TMPL_VAR new_date></h2>
</TMPL_IF>

<TMPL_IF new_channel>
<TMPL_UNLESS new_date>
### End <div class="channelgroup">
</div>
</TMPL_UNLESS>
<div class="channelgroup">

### Planet provides template variables for *all* configuration options for
### the channel (and defaults), even if it doesn't know about them.  We
### exploit this here to add hackergotchi faces to our channels.  Planet
### doesn't know about the "face", "facewidth" and "faceheight" configuration
### variables, but makes them available to us anyway.

<h3<TMPL_IF channel_css-id> class="<TMPL_VAR channel_css-id ESCAPE="HTML">"</TMPL_IF>><a class="channel" href="<TMPL_VAR channel_link ESCAPE="HTML">" title="<TMPL_VAR channel_title_plain ESCAPE="HTML">"><TMPL_VAR channel_name></a></h3>
<TMPL_IF channel_face>
<img class="face" src="images/<TMPL_VAR channel_face ESCAPE="HTML">" width="<TMPL_VAR channel_facewidth ESCAPE="HTML">" height="<TMPL_VAR channel_faceheight ESCAPE="HTML">" alt="">
</TMPL_IF>
</TMPL_IF>


<div class="entrygroup" id="e<TMPL_VAR id_hash ESCAPE="HTML">"<TMPL_IF channel_language> lang="<TMPL_VAR channel_language>"</TMPL_IF>>
<TMPL_IF title>
<h4<TMPL_IF title_language> lang="<TMPL_VAR title_language>"</TMPL_IF><TMPL_IF channel_css-id>  class="<TMPL_VAR channel_css-id ESCAPE="HTML">"</TMPL_IF> onclick="javascript:toggle(this.parentNode)"><a class="title" href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR title></a></h4>
</TMPL_IF>
<div class="entry">
<div class="content"<TMPL_IF content_language> lang="<TMPL_VAR content_language>"</TMPL_IF>>
<TMPL_VAR content>
<TMPL_IF enclosure>
<TMPL_VAR enclosure>
</TMPL_IF>
</div>

### Planet also makes available all of the information from the feed
### that it can.  Use the 'planet-cache' tool on the cache file for
### a particular feed to find out what additional keys it supports.
### Comment extra fields are 'author' and 'category' which we
### demonstrate below.

<p class="date" onclick="javascript:toggleAndShow(this.parentNode.parentNode)">
<a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_IF author>by <TMPL_VAR author ESCAPE="HTML"> at </TMPL_IF><span class="date"><TMPL_VAR date></span><TMPL_IF category> under <TMPL_VAR category></TMPL_IF></a>
</p>
### End <div class="entry">
</div>
### End <div class="entrygroup">
</div>

<TMPL_IF __LAST__>
### End <div class="channelgroup">
</div>
### End <div class="daygroup">
</div>
</TMPL_IF>
</TMPL_LOOP>


<div id="keyboard-shortcuts" style="display: none">
<h2>Keyboard shortcuts</h2>
<dl>
  <dt><tt>?</tt></dt>
  <dd>Show this help message.</dd>

  <dt><tt>t</tt></dt>
  <dd>Open original article in a new tab.</dd>

  <dt><tt>j</tt> <em>/</em> <tt>k</tt></dt>
  <dd>Select next/previous article.</dd>

  <dt><tt>n</tt> <em>/</em> <tt>p</tt></dt>
  <dd>Select next/previous expanded article.</dd>

  <dt><tt>v</tt> <em>or</em> <tt>o</tt></dt>
  <dd>Collapse/expand the current article.</dd>

  <dt><tt>shift</tt> + <tt>n</tt> <em>/</em> <tt>p</tt></dt>
  <dd>Collapse current, then select next/previous expanded article.</dd>

  <dt><tt>A</tt></dt>
  <dd>Collapse all articles.</dd>
</dl>
</div>

<div class="sidebar">
<img class="logo" src="images/logo.png" width="136" height="136" alt="planet">

<p>
<strong>Last updated</strong><br>
<span class="date"><TMPL_VAR date></span><br>
<em class="tz-notice">All times are UTC, unless specified otherwise.</em>
</p>

<p>
<a href="rss10.xml"><img class="button" src="images/rss10.png" width="80" height="15" alt="[RSS 1.0 Feed]"></a>
<a href="rss20.xml"><img class="button" src="images/rss20.png" width="80" height="15" alt="[RSS 2.0 Feed]"></a>
<a href="atom.xml"><img class="button" src="images/atom.png" width="80" height="15" alt="[ATOM Feed]"></a>
<a href="foaf.xml"><img class="button" src="images/foaf.png" width="80" height="15" alt="[FOAF Feed]"></a>
<a href="opml.xml"><img class="button" src="images/opml.png" width="80" height="15" alt="[OPML Feed]"></a>
<a href="http://intertwingly.net/code/venus/"><img src="images/planet.png" width="80" height="15" alt="[Planet]"></a>
</p>

<p></p>

<h2>Planetarium</h2>
<ul>
<li><a href="http://www.nero.net/~stephenf/planets/listen">Listen</a></li>
<li><a href="http://www.nero.net/~stephenf/planets/news">News</a></li>
<li><a href="http://www.nero.net/~stephenf/planets/potpourri">Potpourri</a></li>
<li><a href="http://www.nero.net/~stephenf/planets/tech">Technical</a></li>
<li><a href="http://planet.fedoraproject.org/">Planet Fedora</a></li>
<li><a href="http://planet.debian.net/">Planet Debian</a></li>
<li><a href="http://planet.python.org/">Planet Python</a></li>
<li><a href="http://planet.mozilla.org/">Planet Mozilla</a></li>
<li><a href="http://planet.ubuntu.com/">Planet Ubuntu</a></li>
<li><a href="http://www.planetplanet.org/">more...</a></li>
</ul>

<p></p>

<h2>Subscriptions</h2>
<ul>
<TMPL_LOOP Channels>
<li>
<a href="<TMPL_VAR url ESCAPE="HTML">" title="subscribe"><img src="images/feed-icon-10x10.png" alt="(feed)"></a> <a <TMPL_IF link>href="<TMPL_VAR link ESCAPE="HTML">" </TMPL_IF><TMPL_IF message>class="message" title="<TMPL_VAR message ESCAPE="HTML">"</TMPL_IF><TMPL_UNLESS message>title="<TMPL_VAR title_plain ESCAPE="HTML">"</TMPL_UNLESS>><TMPL_VAR name></a>
</li>
</TMPL_LOOP>
</ul>

</div>
</body>

</html>
