/* Planet CSS.

   The top part used to contain standard unmodified Planet CSS, and the bottom
   part contained my extra rules.  Later I also modified some of the standard
   rules.  It would be nice to reorganize this file.

 */

body {
	border-right: 1px solid #eee;
	margin-right: 200px;

	padding-left: 20px;
	padding-right: 20px;
}

h1 {
	margin-top: 0px;
	padding-top: 20px;

	font-family: "Bitstream Vera Sans", sans-serif;
	font-weight: normal;
	letter-spacing: -2px;
	text-transform: lowercase;
	text-align: right;

	color: grey;
}

.admin {
	text-align: right;
}

h2 {
	font-family: "Bitstream Vera Sans", sans-serif;
	font-weight: normal;
	color: #200080;

	margin-left: -20px;
}

h3 {
	font-family: "Bitstream Vera Sans", sans-serif;
	font-weight: normal;

	background-color: #a0c0ff;
	border: 1px solid #5080b0;

	padding: 4px;
	margin-left: -10px;         /* added by mg */
}

h3 a {
	text-decoration: none;
	color: inherit;
}

h4 {
	font-family: "Bitstream Vera Sans", sans-serif;
	font-weight: bold;
}

h4 a {
	text-decoration: none;
	color: inherit;
}

img.face {
	float: right;
/*	margin-top: -3em; */
	margin-left: 2ex;           /* added by mg */
	margin-bottom: 2ex;         /* added by mg */
}

.entry img {
        max-width: 100%;            /* added by mg */
        height: auto;               /* added by mg */
}

.entry pre {
        max-width: 100%;            /* added by mg */
/* choose: either scrollbar: */
/*      overflow: auto; */          /* added by mg */
/* or wrapping: */
        white-space: pre-wrap;      /* added by mg */
}

.entry > .date {
/*	font-family: "Bitstream Vera Sans", sans-serif; */
	color: grey;
	margin-bottom: 1em;         /* added by mg */
}

.entry > .date a {
	text-decoration: none;
	color: inherit;
}

.sidebar {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 200px;

	margin-left: 0px;
	margin-right: 0px;
	padding-right: 0px;

	padding-top: 20px;
	padding-left: 0px;

	font-family: "Bitstream Vera Sans", sans-serif;
	font-size: 85%;

        color: #888;

        border-left: 1px solid #eee;    /* added by mg */
        padding-bottom: 1.5em;          /* added by mg */
}

.sidebar .logo {
        margin-left: 1em;
}

.sidebar h2 {
	font-size: 110%;
	font-weight: bold;
	color: #666;

	padding-left: 1em;
	margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 1ex;
}

.sidebar ul {
	padding-left: 1em;
	padding-right: 1em;
	margin-left: 0px;
        margin-top: 1ex;

	list-style-type: none;
}

.sidebar ul li:hover {
	color: grey;
}

.sidebar ul li a {
        text-decoration: none;
}

.sidebar ul li a:hover {
        text-decoration: underline;
}

.sidebar ul li a img {
        border: 0;
}

.sidebar p {
	border-top: 1px solid #eee;
	margin-top: 1.5em;
        margin-bottom: 0;
	padding-top: 1em;
	padding-left: 1em;
}

.sidebar .message {
/*  cursor: help; */
/*  border-bottom: 1px dashed red; */
    color: #7777ee;
}

/*
.sidebar a.message:hover {
    cursor: help;
	background-color: #ff0000;
	color: #ffffff !important;
	text-decoration: none !important;
}*/

a:hover {
/*	text-decoration: underline !important;
	color: blue !important; */
	text-decoration: underline;
	color: blue;
}


/* planet sf */
h2 {
    font-weight: bold;
    border-bottom: 1px solid #200080;
    padding: 4px;
    margin-right: -10px;
}
h4 {
    border: 1px solid gray;
    padding: 4px;
    background: #eeeeee;
}
a.title:hover, a.title:active,
a.channel:hover, a.channel:active {
    text-decoration: none;
    color: inherit;
}
p.date {
    clear: both;
    margin-left: 20px;
}
.sidebar h2 {
    border: none;
    margin-right: 0;
}
.entry h1,
.entry h2,
.entry h3,
.entry h4 {
    background: inherit;
    border: none;
    margin-left: 0;
    margin-top: 1ex;
    margin-bottom: 1ex;
    letter-spacing: inherit;
    text-transform: inherit;
    text-align: inherit;
    color: black;
    font-weight: bold;
}
.entry h1 {
    font-size: 140%;
}
.entry h2 {
    font-size: 120%;
}
.entry h3 {
    font-size: 110%;
}
.entry h4 {
    font-size: 100%;
}

/* Custom feed colors */

h3.mgedmin-and-friends,
h3.notes-from-mg {
    color: white;
    background-color: #134d73;
    border: 1px solid #134d73;
}
h4.mgedmin-and-friends,
h4.notes-from-mg {
    background-color: white;
    border: 1px solid #134d73;
    color: #134d73;
}

h3.python {
    color: white;
    background-color: #6dab24;
    border: 1px solid #00b000;
}
h4.python {
    background-color: #e1e7d9;
    border: 1px solid #00b000;
    color: #008000;
}

h3.debian {
    color: white;
    background-color: #d70751;
    border: 1px solid #b00000;
}
h4.debian {
    background-color: #ebd6de;
    border: 1px solid #b00000;
    color: #800000;
}

h3.ubuntu {
    color: white;
    background-color: #996b0a;
    border: 1px solid #2e2003;
}
h4.ubuntu {
    background-color: #dbba75;
    border: 1px solid #2e2003;
    color: #2e2003;
}

h3.planet-fedora {
    color: white;
    background-color: #2a5694;
    border: 1px solid #C4D0E3;
}
h4.planet-fedora {
    background-color: #c8d5ea;
    border: 1px solid #C4D0E3;
    color: #2a5694;
}

h3.planet-puppet {
    color: white;
    background-color: #514a6b;
    border: 1px solid #524f74;
}
h4.planet-puppet {
    background-color: #ccbee7;
    border: 1px solid #524f74;
    color: #514a6b;
}

h3.planet-gnome {
    color: white;
    background-color: #9db8d2;
    border: 1px solid #5080b0;
}
h4.planet-gnome {
    background-color: #e5e8eb;
    border: 1px solid #5080b0;
    color: #284080;
}

h3.planet-freedesktop {
    color: white;
    background-color: #3b80ae;
    border: 1px solid #000050;
}
h4.planet-freedesktop {
    background-color: #dce3e7;
    border: 1px solid #000050;
    color: #000050;
}

h3.schooltool {
    color: white;
    background-color: #818144;
    border: 1px solid #404022;
}
h4.schooltool {
    background-color: #f1f1e4;
    border: 1px solid #818144;
    color: #818144;
}

h3.maemo {
    color: white;
    background-color: #d29d9d;
    border: 1px solid #683b3b;
}
h4.maemo {
    background-color: #f1f1e4;
    border: 1px solid #ffc9c9;
    color: #d29d9d;
}

h3.uo-matters {
    background-color: #2A5D11;
    color: #F5F700;
    border: 1px solid #B4D7AF;
}
h4.uo-matters {
    background-color: #E9EA5D;
    color: #2A5D11;
    border: 1px solid #B4D7AF;
}

h3.ars-technica {
    color: #F53E00;
    background-color: #252525;
    border: 1px solid #ACABA6;
}
h4.ars-technica {
    color: #252525;
    background-color: #EA7952;
    border: 1px solid #ACABA6;
}

h3.droidlife {
    color: #F97FAF;
    background-color: #262626;
    border: #E9E9E9;
}
h4.droidlife {
    color: #262626;
    background-color: #FFD1E3;
    border: #E9E9E9;
}

/* Javascript magic */

div.current > h4 {
    border: 3px solid #fff6ba;
}

div.entrygroup > h4 {
    background-image: url("images/open.png");
    background-repeat: no-repeat;
    background-position: 100% 49%;
    padding-right: 32px;
}
div.entrygroup > h4:hover {
    background-image: url("images/open-hi.png");
}

div.collapse h4 {
    background-image: url("images/closed.png");
}
div.collapse h4:hover {
    background-image: url("images/closed-hi.png");
}

.collapse div.entry {
    display: none;
}

div.entry > p.date {
    background-image: url("images/close.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    padding: 4px 32px 4px 0;
    min-height: 20px;
    border-right: 1px solid #fff;
}
div.entry > p.date:hover {
    background-image: url("images/close-hi.png");
}

#keyboard-shortcuts {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 100;
    border: 1px solid #555;
    background: #444;
    background: rgba(68, 68, 68, 0.9);
    color: #eee;
    border-radius: 1ex;
    padding: 1em;
    margin-left: -15em;
    margin-top: -6em;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
}
#keyboard-shortcuts h2 {
    color: #fff;
    margin: 0;
    padding: 4px;
    border-bottom: 1px solid #eee;
}
#keyboard-shortcuts dl {
    padding: 0px 4px;
}
#keyboard-shortcuts dt {
    float: left;
    margin-right: 1em;
}
#keyboard-shortcuts dt tt {
    display: inline-block;
    padding: 6px;
    min-width: 1em;
    text-align: center;
    background: #eee;
    color: #444;
    border-radius: 2px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4),
                      0 1px 1px rgba(0, 0, 0, 0.05);
}
#keyboard-shortcuts dt em {
    margin: 0 3px 0 2px;
}
#keyboard-shortcuts dd {
    padding: 3px;
    margin-bottom: 12px;
    margin-left: 6em;
}

span.alttextwrapper {
    display: block;
    margin-top: 6px;
    cursor: pointer;
}
